@CHARSET "UTF-8";

body 
{
	color: #F0E39E;
	background: #2C2F22;
	width:980px;
}

a 
{
	color: #FF6533;	
}
a:hover, a:focus 
{
	color: #FF4C00;
}

.article
{	
	width:500px;	
	margin-left:500px;
}

.listedroite
{
   float:right;
   background : grey;
   border-radius : 10px;
   padding : 10px;
   margin-right:-400px; 
   margin-top:100px;  
   width:200px;
   max-height: 350px;
   overflow:auto;
}

.listegauche
{
   float:left;
   background : grey;
   border-radius : 10px;
   padding : 10px;     
   width:200px;
   max-height: 350px;
   overflow:auto;
}

.commentaire
{	
	background-color: grey;	
	width:500px;	
	margin-left:500px;
	color:black;
	border-style: solid;
	max-height: 250px;
    overflow:auto;
}
.FormulaireCom
{
	width:500px;	
	margin-left:500px;
}

.FormulaireArt
{
	width:500px;	
	margin-left:500px;
}

.connexion
{
	float:right;		
	margin-right:-300px;
	margin-top: 5px;	
	display: block;
	width: 150px;	
}

.menu
{	
	text-decoration:none;
	margin-top:10px;
}

#pied
{
	margin-top: 150px;
	text-align: center;
}